<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <featureManager>
        <!-- tag::servlet[] -->
        <feature>servlet-4.0</feature>
        <!-- end::servlet[] -->
        <!-- tag::springboot[] -->
        <feature>jsonp-1.1</feature>
        <!-- end::springboot[] -->
    </featureManager>

    <!-- tag::httpport[] -->
    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="9080"
                  httpsPort="9443" />
    <!-- end::httpport[] -->

    <!-- tag::springBootApplication[] -->
    <springBootApplication id="demo"
                           location="demo.war"
                           name="demo" />
    <!-- end::springBootApplication[] -->

</server>